doctype html
html
  head
    title= title
    block scripts
      script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js')
    block styles
      link(href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet')
      link(rel='stylesheet', href='/stylesheets/base.css')
  body
    block content

