doctype html
html
  head
    title= title
    block scripts
      script(src='//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js')
    block styles
      link(href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet')
      link(rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css")
      link(rel='stylesheet', href='/stylesheets/base.css')
  body
    block content

