doctype html
html
  head
    title= title
    block styles
      link(href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet')
      link(rel='stylesheet', href='/stylesheets/base.css')
  body
    block content

