block navbar
  header(class='navbar')
    div(class='nav-brand-container')
      a(href='/' class='brand') B4C
    div(class='nav-link-container')
      a(href='/budget' class='nav-link') Budget
    div(class='nav-link-container')
      a(href='/budget' class='nav-link') Cause
    div(class='nav-link-container')
      a(href='/budget' class='nav-link') Transactions
    div(class='nav-link-container')
      a(href='/budget' class='nav-link') Stats
