extends ./shared/base.pug

block append styles
  link(rel='stylesheet' href='/stylesheets/budget.css')

block content
  include ./shared/navbar.pug
  section(class='budget-charts-section')
    div(class='budget-chart-container')
      div(id='budget-chart')
  section(class='budget-table-section')
    div(class='budget-table-container')
      table(class='budget-table')
        tr
          th(class='budget-table-header') Category
          th(class='budget-table-header') Current
          th(class='budget-table-header') Goal
          th(class='budget-table-header') Difference
        each entry in budget_data
          tr
            td(class='budget-table-item')=entry.category
            td(class='budget-table-item')=entry.actual
            td(class='budget-table-item')=entry.target
            td(class='budget-table-item')=entry.difference

block append scripts
  script(src='/javascripts/budget.js')