extends ./shared/base.pug

block append styles
    link(rel='stylesheet', href='/stylesheets/stats.css')

block append scripts
    script(src="/javascripts/stats.js")

block content
    include ./shared/navbar.pug

    div(class="container")

        div(class="row_one")
            h1(class="title") You've Donated $1245.30 this Year!

        div(class="row_two")
            div(class="info_container")
                div(class="img")
                    img(class="icon" src="/images/si-glyph-person-public.svg")
                div(class="info")
                    h1(class="info_title") 17
                    p Meals Provided
            div(class="info_container")
                div(class="img")
                    img(class="icon" src="/images/si-glyph-calculator.svg")
                div(class="info")
                    h1(class="info_title") 11
                    p Kids Educated
            div(class="info_container")
                div(class="info")
                    img(class="icon" src="/images/si-glyph-cloud-thunder.svg")
                div(class="img")
                    h1(class="info_title") 2
                    p Disasters Aided
            div(class="info_container")
                div(class="info")
                    img(class="icon" src="/images/si-glyph-house.svg")
                div(class="img")
                    h1(class="info_title") 2
                    p Shelters Supported
        div(class="row_three")
            div(class="chart_one")
                p(class="chart_title") Monthly Donation Amounts
                canvas(id="month_bar_chart")
            div(class="chart_two")
                p(class="chart_title") Year's Donation Breakdown
                canvas(id="overall_pi_chart")