extends ./shared/base.pug

block append styles
    link(rel='stylesheet', href='/stylesheets/stats.css')

block content
    include ./shared/navbar.pug

        div(class = "statistics_display")
            h1 Statistics