extends ./shared/base.pug

block append styles
  link(rel='stylesheet', href='/stylesheets/transactions.css')

block content
  include ./shared/navbar.pug
  section(class='transaction-container')
    each entry in transaction_data
      div(class='card-container')
          div(class='left-container')
            h1(class='transaction-title')=entry.name
            h4(class='transaction-cost') -$ #{entry.amount / 100}
          div(class='right-container')
              h1(class='transaction-guilt') This could feed #{entry.children_fed} children