@import '_variables.sass'

/* Budget Charts */

.budget-charts-section
  margin-top: 20px;
  display: flex;
  justify-content: space-around;

.budget-chart-container
  width: 60vw;
  height: 55vh;
  padding: 0;
  margin: 0;

#budget-chart
  height: 100%;

.ct-series-a .ct-bar
  stroke: $primary;

.ct-series-b .ct-bar
  stroke: $secondary;


/* Budget Table */

.budget-table-section
  margin-top: 20px;
  display: flex;
  justify-content: center;
  height: 100%;

.budget-table
  width: 75vw;
  height: 100%;
  border-collapse: collapse;
  margin-bottom: 50px;

  th, td
    padding: 10px 0px;
    text-align: center;
    border-bottom: 1px solid $primary;

.budget-table-header
  color: $primary;
  font-weight: bold;
  font-size: 30px;

.budget-table-item
  color: $primary;
  font-size: 18px;

.donation_header
  margin: 0;
  padding-top: 20px;
  color: $primary;
  font-size: 2.4em;

h1
  text-align: center
  padding: 0;
  margin: 0 0 10px 0;
