@import '_variables.sass'

.transaction-container
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;

.card-container
  display: flex;
  box-shadow: 1px 1px 4px gray;
  width: 75vw;
  margin-bottom: 20px;

.left-container
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-grow: 2;

.transaction-title
  font-size: 26px;
  margin: 0;
  padding: 0;
  color: $primary;

.transaction-cost
  font-size: 18px;
  color: lighten(red, 20%);
  margin: 0;

.right-container
  display: flex;
  padding: 15px;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;

.transaction-guilt
  font-size: 20px;
  color: $secondary;
  text-align: right;
